<%
	if(value != null && typeof value != 'undefined'){
		if(value.value && value.value.length > 0){
%>

	<%=fields.value.here()%>

<%
		}else{
%>
	<div style="padding: 24px 21px; font-size: 14px; display: block;">
		<div>No Apps Found.</div>
	</div>
<%		
		}
	}
%>
