<div style="padding:15px">
<button type="button" class="btn-primary input-block-level form-control" onclick="<%=methods.registerApp.caller()%>">Register App</button>
<button type="button" class="btn-primary input-block-level form-control" onclick="<%=methods.manageApp.caller()%>">Manage Apps</button>
</div>