<%if(value){%>
<table>
<tr><td>
DefaultValue
</td><td>
<%=fields.defaultValue.here()%>
</td></tr>

<tr><td>
Key
</td><td>
<%=fields.key.here()%>
</td></tr>

<tr><td>
Type
</td><td>
<%=fields.type.here()%>
</td></tr>
</table>

<%}%>